* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --hfont: 'Great Vibes', cursive;
}

main {
    width: 80%;
    margin: auto;
}

header {
    background-color: #000;
}

/* ================================= */
nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo h1 {
    color: #fff;
    font-family: var(--hfont);
    font-size: 2rem;
    letter-spacing: 7px;
}

.logo img {
    width: 40px;
}

/* ================================= */

.list {
    display: flex;
    justify-content: space-between;
}

.list ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.list ul li {
    position: relative;
    margin: 0 30px;
}

.list ul li::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 80%;
    background: #fff;
    left: -30px;
}

.list ul li:nth-of-type(1)::after {
    display: none;
}

.list ul li a {
    font-weight: 200;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.list button {
    width: 110px;
    height: 50px;
    background: orangered;
    color: #fff;
    font-size: 16px;
    border: none;

}

/* ================================= */

.cover {
    color: #fff;
    height: 500px;
    display: flex;
}

.cover .content {
    width: 40%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cover .content h1 {
    font-weight: 900;
    font-size: 3rem;
}

.cover .content p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.8;
}

.cover .content button {
    width: 110px;
    height: 50px;
    background: orangered;
    color: #fff;
    font-size: 16px;
    border: none;
}

.cover .img {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.cover .img img {
    width: 470px;
    height: 540px;
    border-radius: 400px 400px 300px 0;
    position: relative;
    top: 40px;
}

/* ============================= */
#features {
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

#features h1 {
    font-size: 2rem;
    font-weight: 900;
    position: relative;
}

#features h1::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: rgb(231, 209, 11);
    position: absolute;
    bottom: 20px;
    margin-left: 40px;
}

#features .content div {
    display: flex;
    justify-content: right;
    padding-right: 40px;
}

#features .content img {
    width: 60px;
}

#features .content {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

#features .content h2 {
    font-size: 1.2rem;
    padding: 10px 0;
}

#features .content p {
    color: rgb(130, 130, 130);
    line-height: 1.6;
    font-size: 15px;
}

/* ============================= */

#one {
    width: 80%;
    margin: 150px auto;
}

#one article {
    display: flex;
    align-items: center;
    width: 100%;
}

#one img {
    height: 480px;
    border-radius: 50px;
}

#one .left img {
    width: 400px;
}

#one .left {
    width: 40%;
}

#one .right {
    margin-left: 10%;
    width: 60%;
}

#one .right span {
    color: #c6c6c6;
    font-weight: 800;
    font-size: 14px;
}

#one .right h1 {
    font-weight: 900;
    font-size: 2rem;
}

#one .right p {
    color: rgb(122, 122, 122);
    font-size: 16px;
    line-height: 1.8;
    margin: 20px 0;
}

#one .right button {
    width: 110px;
    height: 50px;
    background: orangered;
    color: #fff;
    font-size: 16px;
    border: none;
}

#one .right a:nth-of-type(2) {
    text-decoration: underline;
    color: grey;
    font-weight: 600;
    margin: 0 20px;
}

/* =================================== */
#shop {
    background-color: rgb(230, 230, 230);
    color: #242424;
    padding: 50px 0;
}

#shop .c {
    width: 80%;
    margin: auto;
    text-align: center;
}

#shop .c h1 {
    font-size: 2rem;
    font-weight: 900;
    padding: 30px 0;
}

#shop .c p {
    line-height: 1.6;
}

#shop .imgs {
    height: 550px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#shop .imgs ._1 {
    width: 59%;
    height: 98%;
    margin-right: 20px;
}

#shop .imgs ._2 {
    width: 38%;
    height: 98%;
}

/* ========================= */
footer {
    background-color: rgb(16, 6, 0);
    color: #ffffff;
    padding: 30px 0;

}

.top {
    display: flex;
    margin-bottom: 20px;
}

footer .left {
    width: 500px;
}

footer .left .logo {
    padding: 20px 0;
}

footer .left .logo h1 {
    font-family: var(--hfont);
    color: #ffffff;
}

footer .left p {
    color: #b4b4b4;
    padding: 10px;
    line-height: 1.4;
    font-size: 17px;
}

footer .cat {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .cat ul h2 {
    padding: 20px 0;
}

footer .cat ul {
    list-style: none;
}

footer .cat ul a {
    color: #b4b4b4;
    line-height: 1.8;
    font-size: 14px;
}

footer .cat ul i {
    border: 2px solid rgb(227, 226, 208);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}


.copyright {
    color: #b4b4b4;
    border-top: 2px solid rgb(94, 85, 53);
    padding: 30px;
    text-align: center;
}


.animateAll {
    -webkit-animation: animateAll .8s linear;
    animation: animateAll .8s linear;
    display: block;
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.animateH1,.animateIMG {
    -webkit-animation: animateH1 .8s linear;
    animation: animateH1 .8s linear;
    position: relative
}

.animateIMG {
    -webkit-animation: animateIMG .8s linear;
    animation: animateIMG .8s linear
}
@keyframes animateAll {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
}

@keyframes animateH1 {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}
@keyframes animateIMG {
    0% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}